# Compiled class files
*.class

# Package Files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# macOS
.DS_Store

# Windows
Thumbs.db

# VSCode
.vscode/
*.code-workspace
/src/Clase_10/node_modules/
/src/Clase_11/backend/node_modules/
/src/Clase_11/backend/.env
/src/Clase_11/frontend/node_modules/
/src/Clase_11/frontend/.env
src/Clase_12/alpha/andrew.png
src/Clase_12/beta/tony.webp
src/Clase_12/omega/barry.png
